@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Karla:wght@700&display=swap');

/* font-family: 'Inter', sans-serif;
font-family: 'Karla', sans-serif; */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  background-color: #0b2434;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-container {
  width: 500px;
  height: 500px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgb(0 0 0 / 8%), 0 8px 14px rgb(0 0 0 / 10%);
}
